#lettersDivContainer {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 100%;
    background-color: #ffcc00;
}
.letterPanel {
    position: absolute;
    width: 100%;
    height: 200px;
    line-height: 200px;
    text-align: center;
    top: 50%;
    left: 100%;
    margin-top: -100px;
    font-size: 6em;
}