html, body{
    overflow:hidden !important;
    margin: 0px;
}

/* Override jquery overflow */
.ui-page
{
    overflow: hidden !important;
}

#homeDiv 
{
    position: absolute;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#topDiv
{
    height: 100px;
    width: 150px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -75px;
    text-align: center;
    font-size: 4em;
}


#bottomDiv
{
    height: 50px;
    width: 100px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -25px;
    text-align: center;
}

#leftDiv
{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -25px;
    text-align: center;

}

#rightDiv
{
    height: 100px;
    width: 150px;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -50px;
    text-align: right;
    font-size: 4em;
}

#navigationDiv {
    width: 100%;
    position: absolute;
    z-index: 5;
    bottom: 20px;
    text-align: center;
    
}

.navigationButton
{
    padding: 20px !important;
}
