#numbersDivContainer {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: -100%;
    background-color: #3366ff;
}

.numberPanel {
    position: absolute;
    width: 100%;
    height: 100%;
/*
    line-height: 300px;
*/
    text-align: center;
    top: 0px;
}